<ion-view title="Search" id="page3" ng-controller="searchCtrl as $ctrl">
  <ion-content padding="true" class="has-header">
    <form id="search-form5" class="list">
      <label class="item item-input" id="search-input7">
        <span class="input-label">Search</span>
        <input ng-model="searchText" name="searchText" type="text" placeholder="Input text here...">
      </label>
    </form>
    <ion-list id="home-list4">
      <ion-item class="item-thumbnail-left item-icon-right" id="home-list-item2" ng-repeat="post in $ctrl.data | filter:searchText">
        <img ng-src="http://eggnogg:8000/{{post.avatar_path}}" alt="avatar img" class="avatar-list">
        <h2>{{ post.name }}</h2>
        <p>{{ post.username }}</p>
        <i class="icon {{ post.icon }}"></i>
        <ion-option-button class="button-energized" ng-click="$ctrl.playback(post)">VIEW</ion-option-button>
        <div ng-if="post.showMedia">
          <video ng-src="{{$ctrl.returnPath(post)}}" class="centerme fullscreenModal fullscreen-player" controls="controls" autoplay></video>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
